$main-bg: #0C0C0D;
$text-color: #1E1F20;
$light-black: #141516;
$active-color: #D7FB00;
$white-color: #FAFAFA;
$border-color: #92949F;

$border-radius-main: 8px;

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-default: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;


//box-shadow: 0 0 15px #D7FB00;